@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

:root{
    --northblue:rgba(92, 128, 188, 0.8);
    --darkblue:rgba(34, 42, 104, 0.9);
    --northgrey:#747578;
    --northwhite:#FFF8F0;
    --northwarm:#FFFDF7;
}

body{
    font-family:"Archivo", Verdana, Tahoma, sans-serif;
    background-color:var(--northwarm);
}

body::selection{
    background-color:var(--northgrey);
}

h1, h2, h3, h4, table tr th{
    font-family:"Zalando Sans", 'Courier New', Courier, monospace;
}

header{
    display:flex;
    justify-content:space-around;
    flex-direction:row-reverse;
}

header nav{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

header nav a{
    background-color:var(--darkblue);
    padding:1rem;
    border-radius:1rem; 
    text-decoration:none;
    color:var(--northwhite);
}

header nav a:hover{
    color:var(--darkblue);
}

header h1{
    display:flex;
    align-items:center;
    color:var(--darkblue);
    order:+1;
}

header img{
    display:block;
}

@keyframes fadeUp{
      from{
        /* This will be what the start of the animation looks like */
        opacity:0;
        transform:translateY(30px);
      }
      to{
        /* This will be what the end of the animation looks like */
        opacity:1;
        transform:translateY(0);
      }
    }

#banner{
    display:block;
    margin:0 auto;
    border-radius:2rem;
    max-width:100%;
    height:auto;
    animation:fadeUp 1s ease forwards;
    box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

#firstline{
    margin:3rem;
    display:flex;
    gap:2rem;
}

.intro-details{
    flex:1;
    text-align:center;
    background-color:var(--northblue);
    border-radius:2rem;
    padding:1rem 2rem 1rem 2rem;
    line-height:1.5rem;
    box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.intro-details p{
    font-size:1.2rem;
}

span{
    font-weight:bold;
}

#registration{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--darkblue);
    border-radius:1rem;
    gap:1rem;
    margin:0 3rem;
    padding:1rem 0;
    box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

#registration h2{
    text-align:center;
    font-size:2rem;
    color:var(--northwhite);
}

#options-grid{
    gap:1rem;
}


.option{
    border:2px solid var(--darkblue);
    border-radius:1rem;
    background-color:#5c80BC;
    font-size:1.6rem;
    text-align:center;
    table-layout: fixed;
    width:60%;
    border-collapse: collapse;
    margin:0 auto;
}

.option th, .option td{
    width:33.33%;
    padding:1.5rem;
}

.option th:nth-child(1),
.option td:nth-child(1),
.option th:nth-child(3),
.option td:nth-child(3){
    width: 30%;
}

.option th:nth-child(2),
.option td:nth-child(2) {
    width: 40%;
}

.option th:first-child,
.option td:first-child {
    text-align: left;
    padding-left: 2rem;
}

.hoverlight:hover{
    color:var(--northwhite);
}

#note{
    font-style:italic;
    color:var(--northwhite);
    padding-bottom:1rem;
}

#panelimage{
    display:flex;
    margin:2rem;
    gap:2rem;
    align-items:center;
    padding-left:1.3rem;
}

#panel, #schedule{
    flex:1;
}

#panelimage img, #scheduleimage img{
    flex:1;
}

#panelimage p{
    font-size:1.1rem;
    line-height:1.2rem;
}

#panelimage h2{
    font-size:1.7rem;
}

#panelimage img{
    border-radius:1rem;
    margin-right:1rem;
    width: 100%;
    height: auto;
}

#panelimage img, #scheduleimage img{
    max-width:100%;
    height:auto;
}

#scheduleimage{
    display:flex;
    flex-direction:row-reverse;
    margin:2rem;
    gap:2rem;
    align-items:center;
    padding:0 1rem;
}

#scheduleimage p{
    font-size:1.1rem;
    line-height:1.2rem;
    padding-right:1rem;
}

#scheduleimage h2{
    font-size:1.7rem;
}

#scheduleimage img{
    border-radius:1rem;
    width: 100%;
    height: auto;
}

#conference-info{
    margin:1rem 5rem;
    display:flex;
    gap:2rem;
}

.sessions-topics{
    flex:1;
    background-color:var(--northblue);
    border-radius:2rem;
    padding:1rem 2rem;
    line-height:1.5rem;
    box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.sessions-topics h2{
    padding-left:1rem;
}

#featured{
    text-align:center;
    margin-top:3rem;
    font-size:2rem;
    text-decoration:underline;
}

#speakers-list{
    margin:3rem;
    display:flex;
    gap:1rem;
}

.speaker{
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:var(--darkblue);
    border-radius:2rem;
    padding:1rem 1rem;
    line-height:1.5rem;
    align-items:center;
    flex:1;
}

.speaker h3{
    font-size:1.5rem;
    color:white;
}

.speaker h4{
    color:white;
}

.speaker p{
    color:white;
}

.speaker img{
    border-radius:1rem;
    width: 100%;
    height: auto;
}

.speaker{
    transition:transform 0.5s ease, box-shadow 1s linear;
}

.speaker:hover{
    transform:translateY(-8px);
    box-shadow:0 16px 32px rgba(0,0,0,0.3);
}

#venue{
    display:flex;
    margin-left:1rem;
    align-items:center;
}

#venueimg{
    border-radius:2rem;
    margin-right:2rem;
    max-width:100%;
    height:auto;
}

#accessibility{
    align-self:center;
    margin:2rem;
    font-size:1.3rem;
}

footer{
    background-color:var(--darkblue);
    border-radius:2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1rem;
    padding:1rem 3rem;
    color:var(--northwhite);
}

@media screen and (max-width:1280px){
    #panelimage img, #scheduleimage img{
        margin-top:1rem;
    }
    
    #panelimage{
        display:flex;
        flex-direction:column-reverse;
        width:80%;
        margin:0 auto;
        text-align:center;
        gap:0;
    }

    #scheduleimage{
        display:flex;
        flex-direction:column-reverse;
        width:80%;
        margin:0 auto;
        text-align:center;
        gap:0;
    }

    #venue{
        display:flex;
        flex-direction:column-reverse;
        width:80%;
        margin:0 auto;
        text-align:center;
        gap:0;
    }

    #venue img{
        margin-right:0;
        width:100%;
    }
}